
html {
  height: 100%;
  font-size: 100px;
}

body {
  height: 100%;
}

/* 手机端 */
@media (max-width: 768px) {
  html {
    font-size: 50px;
  }
}

body {
  background-color: #444;
  color: #666;
  font-size: 0.14rem;
  line-height: 130%;
  margin: 0;
  padding: 0.15rem 0;

  --primary-rgb: 56, 181, 168;
  --primary-color: #38b5a8;
  --bg-color: #2f3a3d;
  --heading-height: 0.34rem;
}

p {
  margin: 0 0 0.15rem;
  font-size: 0.14rem;
  line-height: 150%;
}

a {
  color: #666;
  text-decoration: none;
}

a:hover {
  color: var(--primary-color);
  text-decoration: underline;
}

.text-primary {
  color: var(--primary-color);
}

.text-muted {
  color: #666;
}

.heading {
  position: relative;
  height: var(--heading-height);
  line-height: var(--heading-height);
  margin: 0 0 calc(var(--heading-height) / 2);
  padding: 0 calc(var(--heading-height) / 2);
  color: #fff;
  font-size: 0.15rem;
  font-weight: normal;
}

.main {
  display: flex;
  flex-direction: column;
  max-width: 8.6rem;
  margin: 0 auto;
  background-color: #fff;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.4);
}

/* 手机端 */
@media (max-width: 768px) {
  .main {
    width: 100%;
    max-width: 100%;
  }
}

.main .header {
  display: flex;
  width: 100%;
  height: 2.1rem;
}

.main .header>.left {
  position: relative;
  box-sizing: border-box;
  width: 25%;
  height: 100%;
  background-color: var(--bg-color);
  box-sizing: border-box;
}

.main .header>.left::after {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.1);
  content: "";
}

.main .header>.left .avatar {
  position: absolute;
  top: 0.23rem;
  right: 0;
  bottom: 0;
  left: 0.23rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main .header>.left .avatar img {
  width: 1.1rem;
  height: 1.1rem;
  border-radius: 50%;
  overflow: hidden;
  background-color: var(--primary-color);
  border: 4px solid var(--primary-color);
}

.main .header>.right {
  position: relative;
  flex: 1;
  box-sizing: border-box;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.1);
}

.main .header>.right .person-info {
  position: absolute;
  top: 0.23rem;
  right: 0.23rem;
  bottom: 0;
  left: 0.20rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.main .header>.right .person-info h1 {
  margin: 0 0 0.20rem;
  font-size: 0.32rem;
}

.main .header>.right .person-info h2 {
  margin: 0 0 0.20rem;
  font-size: 0.2rem;
}

.main .header>.right .person-info > div {
  margin: 0;
  font-size: 0.14rem;
  font-weight: normal;
}

.main .body {
  display: flex;
  box-sizing: border-box;
  width: 100%;
  flex: 1;
  align-items: stretch;
}

.main .body>.left {
  box-sizing: border-box;
  width: 25%;
  padding: 0.15rem 0.23rem;
  background-color: var(--bg-color);
  color: rgba(255, 255, 255, 0.6);
}
.main .body>.left .heading {
  background-color: rgba(var(--primary-rgb), 0.2);
}

.main .body>.right {
  box-sizing: border-box;
  flex: 1;
  padding: 0.25rem 0.25rem 0.25rem 0;
}

.main .body>.right .heading {
  z-index: 0;
}

.main .body>.right .heading::before {
  position: absolute;
  bottom: calc(0px - (var(--heading-height) / 2));
  left: calc(0px - (var(--heading-height) / 2));
  border-top: calc(var(--heading-height) / 2) solid rgba(var(--primary-rgb), 0.3);
  border-left: calc(var(--heading-height) / 2) solid transparent;
  content: "";
}

.main .body>.right .heading::after {
  position: absolute;
  z-index: -1;
  top: 0;
  left: calc(0px - (var(--heading-height) / 2));
  content: "";
  width: 1.60rem;
  height: 100%;
  box-sizing: border-box;
  border-top: calc(var(--heading-height) / 2) solid var(--primary-color);
  border-right: calc(var(--heading-height) / 2) solid transparent;
  border-bottom: calc(var(--heading-height) / 2) solid var(--primary-color);
  border-left: 0 solid transparent;
}

.main .body>.right h5 {
  font-size: 0.14rem;
  font-weight: normal;
}

.main .body>.right h4 {
  font-size: 0.15rem;
}

.main .sidebar {
  box-sizing: border-box;
  width: 25%;
  height: 100%;
  background-color: var(--bg-color);
}