<!DOCTYPE html>
<html lang="zh-CN">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Frank Fang</title>
  <link rel="icon" href="./../favicon.ico">
  <link rel="stylesheet" href="./css/font-awesome.css">
  <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
  <link rel="stylesheet" href="./css/styles.css">
</head>

<body>
  <div id="app">
    <div class="main">
      <div v-if="loading" style="text-align: center; height: 100vh; display: flex; flex-direction: column; justify-content: center;">
        <i class="fa fa-hourglass-1" style="color: #999; font-size: 96px;"></i>
        <p style="margin-top: 14px; font-size: 24px;">页面加载中，请耐心等待……</p>
      </div>
      <template v-else>
        <div class="header">
          <div class="left">
            <div class="avatar">
              <img src="./images/avatar.gif" alt="Frank Fang">
            </div>
          </div>
          <div class="right">
            <div class="person-info">
              <h1><span style="color: #111;">方志刚</span> <small>Frank Fang</small></h1>
              <h2 class="text-primary">Web前端开发 & UI/UX设计</h2>
              <div>
                <el-popover placement="bottom" width="268" trigger="click">
                  <h4 class="m-0">微信号：<span class="text-primary">frankfang7</span></h4>
                  <div class="pt-4 pb-2" style="text-align: center;">
                    <img src="./images/weixin.gif" alt="" width="198px">
                    <div class="mt-2" style="color: #999;">扫一扫上面的二维码图案，加我为朋友。</div>
                  </div>
                  <span slot="reference" style="cursor: pointer;"><i class="fa fa-wechat fa-fw text-primary"></i> 17621440130</span>
                </el-popover>
                &nbsp; <a href="mailto:45112230@qq.com" target="_blank"><i class="fa fa-envelope fa-fw text-primary"></i> 45112230@qq.com</a>
                &nbsp; <a href="https://frankfang7.github.io/resume" target="_blank"><i class="fa fa-star fa-fw text-primary"></i> frankfang7.github.io/resume</a>
              </div>
            </div>
          </div>
        </div>
        <div class="body">
          <div class="left">
            <h3 class="heading mb-3"><i class="fa fa-id-card-o fa-fw"></i> 个人资料</h3>
            <p class="ml-1 mr-1 mb-4" style="line-height: 180%;">
              <i class="fa fa-birthday-cake fa-fw"></i> 1982年11月<br>
              <i class="fa fa-users fa-fw"></i> 已婚已育<br>
              <i class="fa fa-map-marker fa-fw"></i> 上海市闵行区<br>
            </p>
            <h3 class="heading mb-3"><i class="fa fa-desktop fa-fw"></i> 专业技能</h3>
            <div class="ml-1 mr-1 mb-4">
              <div v-for="(item, index) in skillList" :key="index" class="mb-2" :title="item.name + ':' + item.value + '%'">
                <div class="mb-1">{{ item.name }}</div>
                <el-progress :percentage="item.value" color="var(--primary-color)" define-back-color="rgba(255, 255, 255, 0.2)" :stroke-width="2" :show-text="false"></el-progress>
              </div>
            </div>
            <h3 class="heading mb-3"><i class="fa fa-comments-o fa-fw"></i> 自我评价</h3>
            <ul class="m-1 p-0 pl-3">
              <li v-for="(item, index) in selfDescription" :key="index" class="mb-1">{{ item }}</li>
            </ul>
          </div>
          <div class="right">
            <div class="heading mb-3"><i class="fa fa-suitcase fa-fw"></i> 工作经验</div>
            <div class="mt-2 mb-3">
              <el-timeline class="pl-4">
                <el-timeline-item v-for="(item,index) in workList" :key="index" timestamp="" color="var(--primary-color)" class="pb-2">
                  <h5 class="text-primary mt-0 mb-1">{{ item.date }}</h5>
                  <h4 class="text-primary mt-0 mb-1"><span>{{ item.name }}</span> <small style="font-weight: normal;">| {{ item.subName }}</small></h4>
                  <div v-if="item.content" class="mb-1"><strong class="text-muted">工作内容：</strong> {{ item.content }}</div>
                  <div v-if="item.projects"><strong class="text-muted">参与项目：</strong> <el-button v-for="(i, n) in item.projects" :key="n" type="text" size="small" class="m-0 mr-1 mb-1 p-0" @click="openProject(i)">{{ i.name }}</el-button></div>
                  <div><el-tag v-for="(tag,ind) in item.tags" :key="ind" type="info" size="mini" class="mr-1 mt-1">{{ tag }}</el-tag></div>
                </el-timeline-item>
              </el-timeline>
            </div>
            <div class="heading mb-3"><i class="fa fa-graduation-cap fa-fw"></i> 教育及培训</div>
            <div class="mt-2 mb-3">
              <el-timeline class="pl-4">
                <el-timeline-item v-for="(item,index) in educationList" :key="index" timestamp="" color="var(--primary-color)" class="pb-2">
                  <h5 class="text-primary mt-0 mb-1">{{ item.date }}</h5>
                  <h4 class="text-primary mt-0 mt-1 mb-1"><span class="text-primary">{{ item.name }}</span> <small style="font-weight: normal;">| {{ item.subName }}</small></h4>
                  <div><strong class="text-muted">课程内容：</strong> {{ item.content }}</div>
                </el-timeline-item>
              </el-timeline>
            </div>
          </div>
        </div>
    </template>
    </div>
    <el-dialog :title="projectName" :visible.sync="projectDialog" width="860px" top="5vh" :before-close="closeProject">
      <el-carousel indicator-position="outside" height="460px" :interval="5000">
        <el-carousel-item v-for="item in projectUrlList" :key="item">
          <el-image :src="'./images/projects/' + item" fit="contain"></el-image>
        </el-carousel-item>
      </el-carousel>
    </el-dialog>
  </div>
  <script src="https://unpkg.com/vue@2/dist/vue.js"></script>
  <script src="https://unpkg.com/element-ui/lib/index.js"></script>
  <script>
    new Vue({
      el: "#app",
      data() {
        return {
          loading: true,
          selfDescription: [
            '擅长根据业务需求，设计各种UI原型图、UI高保真设计稿以及UX交互方案；',
            '擅长使用Vue全家桶 / ElementUI / JavaScript / ECharts...进行Web前端开发，尤其擅长样式/布局/响应式/交互等界面表现层的开发；',
            '熟练使用Vue-cli / Git等常用开发工具；',
            '精通Photoshop / illustrator从事设计工作，包括UI设计、CSS切图、VI设计、平面设计等；'
          ],
          skillList: [
            {
              name: 'Vue.js',
              value: 80
            },
            {
              name: 'JavaScript',
              value: 75
            },
            {
              name: 'Element-UI',
              value: 85
            },
            {
              name: 'ECharts',
              value: 80
            },
            {
              name: 'Uni-App',
              value: 30
            },
            {
              name: 'HTML5 + CSS3',
              value: 90
            },
            {
              name: 'Adobe Photoshop',
              value: 95
            },
            {
              name: 'Adobe illustrator',
              value: 80
            }
          ],
          workList: [
            {
              date: '2020年3月 ~ 2024年8月',
              name: '普华永道商务服务(上海)有限公司',
              subName: 'Web前端开发 & UI/UX设计',
              content: '根据业务需求设计原型图、UI/UX设计稿，参与Web前端开发……',
              projects: [{name: '某ESG报告管理系统', imageList: ['rt/001.jpg', 'rt/002.jpg', 'rt/003.jpg', 'rt/004.jpg', 'rt/005.jpg', 'rt/006.jpg', 'rt/101.jpg', 'rt/102.jpg', 'rt/103.jpg', 'rt/104.jpg', 'rt/105.jpg', 'rt/106.jpg']},  {name: '某可持续解决方案', imageList: ['et/001.jpg', 'et/002.jpg', 'et/003.jpg', 'et/101.jpg', 'et/102.jpg', 'et/103.jpg', 'et/104.jpg', 'et/105.jpg', 'et/106.jpg']},  {name: '某油田碳资产管理系统', imageList: ['tanzichan/001.jpg']},  {id: 'pwc04', name: '其它...', imageList: ['pwc/001.jpg', 'pwc/002.jpg']}],
              tags: ['Vue', 'Element-UI', 'ECharts', 'Photoshop', 'Uni-App']
            },
            {
              date: '2018年4月 ~ 2020年3月',
              name: '美数信息科技(上海)有限公司',
              subName: 'Web前端开发 & UI/UX设计',
              content: '负责UI/UX设计、平面设计及Web前端开发；',
              projects: [{name: '某智能警务系统', imageList: ['jingwu/001.jpg', 'jingwu/002.jpg', 'jingwu/003.jpg', 'jingwu/004.jpg', 'jingwu/005.jpg']}, {name: '某智慧门禁管理系统', imageList: ['menjin/001.png', 'menjin/002.png', 'menjin/003.png', 'menjin/004.png', 'menjin/005.png', 'menjin/006.png', 'menjin/007.png', 'menjin/008.png', 'menjin/101.jpg', 'menjin/102.jpg']}, {name: '其它', imageList: ['meishu/001.jpg']}],
              tags: ['Vue', 'Element-UI', 'ECharts', 'JavaScript', 'Photoshop', 'illustrator']
            },
            {
              date: '2015年9月 ~ 2018年4月',
              name: '上海思芮科技发展有限公司(东软集团)',
              subName: 'UI/UX设计 & Web前端开发',
              content: 'UI/UX设计及Web前端开发；',
              projects: [{name: '某电气集团风电智能监控系统', imageList: ['fengyun/001.png', 'fengyun/002.png', 'fengyun/003.png', 'fengyun/004.png', 'fengyun/005.png', 'fengyun/006.png']},  {name: '某交易中心门户和管理系统', imageList: ['suzhou/001.png', 'suzhou/002.png', 'suzhou/003.png', 'suzhou/004.png']}],
              tags: ['Photoshop', 'Bootstrap', 'HTML+CSS', 'jQuery']
            },
            {
              date: '2011年8月 ~ 2015年9月',
              name: '上海川合文化传播有限公司',
              subName: 'UI设计 & 网站美工',
              content: '各种Web页面、App页面的设计、Flash动画设计制作等等……',
              projects: [{name: '某交易所相关项目', imageList: ['shangjiaosuo/001.png', 'shangjiaosuo/002.png', 'shangjiaosuo/003.png', 'shangjiaosuo/004.png', 'shangjiaosuo/005.png', 'shangjiaosuo/006.png', 'shangjiaosuo/007.png']}],
              tags: ['Photoshop', 'illustrator', 'Flash', 'HTML+CSS', 'Bootstrap', 'jQuery']
            },
            {
              date: '2009年9月 ~ 2011年8月',
              name: '上海极越信息技术有限公司',
              subName: 'UI设计 & 网站美工 & 平面设计',
              content: '网页设计、Flash动画设计制作，网站美工(CSS+DIV切图)等等……',
              tags: ['Photoshop', 'illustrator', 'Flash', 'HTML+CSS', 'jQuery']
            }
          ],
          projectDialog: false,
          projectName: '',
          projectUrlList: [],
          educationList: [
            {
              date: '2024年6月 ~ 2024年11月',
              name: '项目管理专业人士资格认证',
              subName: 'Project Management Professional(PMP)',
              content: '人员—强调与有效领导项目团队相关的技能和活动；过程—增强管理项目的技术领域；业务环境⸺ 突出项目和组织战略之间的联系；敏捷项目管理知识……'
            },
            {
              date: '2019年3月 ~ 2021年7月',
              name: '上海海事大学',
              subName: '计算机科学与技术(专升本)',
              content: '电路与电子技术、数字逻辑、计算方法、计算机原理与汇编、微型计算机技术、计算机系统结构、计算机网络、高级语言、数据结构、操作系统、编译原理等……'
            }
          ]
        }
      },
      methods: {
        openProject (item) {
          this.projectDialog = true
          this.projectName = item.name
          this.projectUrlList = item.imageList
        },
        closeProject () {
          this.projectDialog = false
          this.projectName = ''
          this.projectUrlList = []
        }
      },
      mounted () {
        this.loading = false
      }
    })
  </script>
</body>
</html>