@charset "utf-8";
* {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-user-select: none;
	outline: none;
	-webkit-tap-highlight-color: transparent;
	-webkit-tap-highlight-color: transparent;
}
html {
	height: 100%;
	font-size: 62.5%;	/* 10÷16×100%=62.5% */
}
body {
	height: 100%;
	margin: 0;
	font-size: 1.4rem;	/* 1.4×10px=14px */
	font-family: "微软雅黑";
	background-color: #fff7ec;
}
a:active {
	color: #d89b00;
}
.main {
	position: relative;
	height: 100%;
}
.heading {
	position: absolute;
	padding: 2rem;
}
.heading img {
	width: 100%;
}
.qianhe {
	position: absolute;
	width: 30%;
	top: 50%;
	z-index: 11;
}
.qianhe .img-gif {
	display: none;
}
.qianhe img, .qianbi img, .qian img {
	width: 100%;
}
.qianhe-s {
	left: 7%;
	margin-top: -32%;
}
.qianhe-m {
	left: 35%;
	margin-top: -30%;
}
.qianhe-l {
	left: 62%;
	margin-top: -32%;
}
.qianbi {
	position: absolute;
	top: 50%;
	left: 0;
	z-index: 31;
	width: 100%;
	height: 10%;
	margin-top: 30%;
}
.bg-yuan {
	display: none;
	position: absolute;
	left: 0;
	top: 50%;
	width: 100%;
	margin-top: -60%;
	z-index: 1;
}
.bg-yuan img {
	width: 100%;
}
.qian {
	position: absolute;
	top: 50%;
	left: 42%;
	width: 4.6rem;
	height: 25rem;
	margin-top: -42%;
	padding: 6.7rem 1.6rem;
	font-size: 2rem;
	text-align: center;
	line-height: 1;
	word-break: break-all;
	background: url(../images/qian.png) no-repeat center;
	background-size: contain;
}
.qian-text {
	position: absolute;
	top: 50%;
	right: 2rem;
	display: none;
	width: 21.5rem;
	height: 25rem;
	margin-top: -42%;
	background: url(../images/qian-text.png) no-repeat;
	background-size: contain;
}
.qian-text .qian-hd {
	margin: 4.5rem 4.7rem 2rem 4.3rem;
	padding: 3px 5px;
	text-align: center;
	background: #fd0;
	border-radius: 20px;
}
.qian-text .qian-bd {
	margin: 0 3rem 2rem 2rem;
	color: #333;
	font-size: 1rem;
}
.qian-text .qian-bd h5 {
	margin: 0 0 1rem;
	color: #ff2f5e;
	font-size: 1.5rem;
}
.qian-text .qian-bd p {
	overflow: auto;
	height: 9.5rem;
}
.info {
	position: absolute;
	bottom: 4rem;
	width: 100%;
	padding: 0 20px;
}
.info img {
	width: 100%;
}
.btn-wrap {
	position: absolute;
	bottom: 5rem;
	width: 100%;
	padding: 0 1.5rem;
	text-align: center;
}
.btn1 {
	width: 30%;
	background: url(../images/btn1.png) no-repeat center;
}
.btn2 {
	width: 38%;
	background: url(../images/btn2.png) no-repeat center;
}
.btn3 {
	width: 25%;
	background: url(../images/btn3.png) no-repeat center;
}
.btn1, .btn2, .btn3 {
	height: 4rem;
	padding: 0;
	background-size: 100% auto;
	border: none;
	font-size: 0;
}
.risk-tip {
	position: absolute;
	bottom: 1rem;
	width: 100%;
	text-align: center;
	color: rgba(0,0,0,.7);
	font-size: 1.2rem;
	letter-spacing: 1rem;
}
/* 摇摆动画 */
.animation {
	-webkit-animation: swing .75s linear infinite;
	animation: swing .75s linear infinite;
}
.animation .img-png {
	display: none;
}
.animation .img-gif {
	display: inline-block;
}
@keyframes swing {
 0% {
transform: rotate(-12deg);
} /* 添加旋转角度，以下类似 */
 20% {
transform: rotate(8deg);
}
 30% {
transform: rotate(6deg);
}
 40% {
transform: rotate(3deg);
}
 55% {
transform: rotate(0deg);
}
 70% {
transform: rotate(-4deg);
}
 80% {
transform: rotate(7deg);
}
 90% {
transform: rotate(-8deg);
}
 90% {
transform: rotate(12deg);
}
}
