/*@import url(styles.css);*/
/* 全局 */
body {
	color: #666;
}
.text-light {
	color: #222;
}
.text-dim {
	color: #aaa !important;
}
a:link {
	color: #419641;
}
a:visited {
	color: #419641;
}
a:hover {
	color: #5cb85c;
}
a:active {
	color: #5cb85c;
}
.page-header {
	border-bottom-color: #eee;
}
/* 头部 */
#header {
	background-color: #3c763d;
	border-bottom: 1px solid #293a29;
}
.logo {
	border-right-color: #3c3c3c;
}
.logo a {
	color: #fff;
}
.wind-farm-name {
	border-right-color: #3c3c3c;
	color: #fff;
}
.skin-btn {
	border-left-color: #3c3c3c;
}
.favorite .glyphicon {
	color: #fff;
}
.member-info {
	border-left-color: #3c3c3c;
}
/* 左栏 */
#aside,.aside-arrow {
	background-color: rgb(220,220,220);
	border-color: #ccc;
}
.aside-arrow span.glyphicon {
	color: #888;
}
.sidebar a {
	background-color: rgba(255,255,255,.4);
	color: #666;
}
.sidebar a:hover, #aside .sidebar a.active {
	background-color: #419641;
	color: #fff;
}
.sidebar>li>a {
	background-color: rgba(255,255,255,1);
	box-shadow: 0 1px 1px #d0d0d0;
	color: #3c763d;
}
.sidebar>li>ul>li>a {
	background-color: rgba(255,255,255,.7);
	box-shadow: 0 1px 1px #d0d0d0;
	color: #3c763d;
}
.sidebar>li>a span.glyphicon, .sidebar>li>ul>li>a span.glyphicon {
	color: #3c763d;
}
.sidebar>li>a:hover span.glyphicon, .sidebar>li>ul>li>a:hover span.glyphicon {
	color: #fff;
}
/* 导航（临时） */
#nav .nav-list>a {
	border-left-color: #ccc;
}
#nav .nav-list>a:nth-last-child(1) {
	border-right-color: #ccc;
}
/* 导航 */
#nav {
	background-color: #e5e5e5;
	border-color: #ccc;
	color: #333;
}
#nav a:link {
	color: #444;
}
#nav a:visited {
	color: #444;
}
#nav a:hover {
	color: #111;
}
#nav .nav-list>li {
	border-left-color: #ccc;
}
#nav .nav-list>li:nth-last-child(1) {
	border-right-color: #ccc;
}
#nav .nav-list a:hover {
	background-color: #f0f0f0;
}
#nav a:active {
	color: #111;
}
#nav .nav-list a.active {
	background-color: #fff;
	color: #3c763d;
}
#nav .nav-list a.active:hover {
	background-color: #fff;
}
#nav .nav-list>li>ul {
	border-color: #bbb;
}
#nav .nav-list>li>ul>li {
	border-color: #ccc;
}
#nav .nav-list>li>ul a {
	background-color: #f9f9f9;
}
#nav .nav-list>li>ul a:hover {
	background-color: #fff;
}
/* 右栏 */
#article, #article2, #fanCon, #fanTable {
	background-color: #fff;
}
/* 页脚 */
#footer {
	background-color: rgb(210,210,210);
}
/* 云端首页 */
.menu-list li a {
	color: #444;
}
.menu-list li a:hover {
	color: #222;
}
.menu-list a .menu-list-icon {
	color: #fff;
	background-color: #444;
	border-color: #777;
}
.menu-list a:hover .menu-list-icon {
	background-color: #555;
	border-color: #555;
}
.menu-list .menu-list-lock-icon .glyphicon {
	color: #333;
}
.menu-list-01 a .menu-list-icon, .menu-list-01.menu-list-lock a:hover .menu-list-icon {
	background-color: #471717;
	border-color: #8d2d2d;
}
.menu-list-02 a .menu-list-icon, .menu-list-02.menu-list-lock a:hover .menu-list-icon {
	background-color: #4a2901;
	border-color: #935202;
}
.menu-list-03 a .menu-list-icon, .menu-list-03.menu-list-lock a:hover .menu-list-icon {
	background-color: #4b3e00;
	border-color: #967c00;
}
.menu-list-04 a .menu-list-icon, .menu-list-04.menu-list-lock a:hover .menu-list-icon {
	background-color: #20321b;
	border-color: #3f6335;
}
.menu-list-05 a .menu-list-icon, .menu-list-05.menu-list-lock a:hover .menu-list-icon {
	background-color: #1f3b43;
	border-color: #3e7685;
}
.menu-list-06 a .menu-list-icon, .menu-list-06.menu-list-lock a:hover .menu-list-icon {
	background-color: #1f2843;
	border-color: #3e4f85;
}
.menu-list-07 a .menu-list-icon, .menu-list-07.menu-list-lock a:hover .menu-list-icon {
	background-color: #2f2341;
	border-color: #5d4682;
}
.menu-list-08 a .menu-list-icon, .menu-list-08.menu-list-lock a:hover .menu-list-icon {
	background-color: #41233c;
	border-color: #824677;
}
.menu-list-01 a:hover .menu-list-icon {
	background-color: #8d2d2d;
	border-color: #8d2d2d;
}
.menu-list-02 a:hover .menu-list-icon {
	background-color: #935202;
	border-color: #935202;
}
.menu-list-03 a:hover .menu-list-icon {
	background-color: #967c00;
	border-color: #967c00;
}
.menu-list-04 a:hover .menu-list-icon {
	background-color: #3f6335;
	border-color: #3f6335;
}
.menu-list-05 a:hover .menu-list-icon {
	background-color: #3e7685;
	border-color: #3e7685;
}
.menu-list-06 a:hover .menu-list-icon {
	background-color: #3e4f85;
	border-color: #3e4f85;
}
.menu-list-07 a:hover .menu-list-icon {
	background-color: #5d4682;
	border-color: #5d4682;
}
.menu-list-08 a:hover .menu-list-icon {
	background-color: #824677;
	border-color: #824677;
}
/* 风场监控 */
.info-panel {
	background-color: #f1f9eb;
}
.info-panel .text-light {
	color: #d9534f;
}
.info-panel .ctrl-btn-group {
	border-right-color: #ddd;
}
.icon-voice {
	border-left-color: #ddd;
}
.fan-sample-con {
	border-left-color: #ddd;
}
.fan-panel-title {
	background-color: #449d44;
	border-color: #398439;
	color: #f5f5f5;
}
.fan-panel-title dl.dl-horizontal dt {
	border-right-color: #ddd;
	color: #fff;
	font-weight: bold;
}
.fan-panel-title-hd {
	border-right-color: #505050;
}
.fan-panel-title span {
	color: #fff;
}
.fan-panel {
	background-color: #f5f5f5;
}
.fan-panel-hd, .fan-panel-ft {
	background-color: #d9d9d9;
	color: #444;
}
.fan-panel-bd-txt small {
	color: #555;
}
/* 服务器监控 */
.server-panel-title {
	background-color: #449d44;
	border-color: #398439;
	color: #f5f5f5;
}
.server-panel-title dl.dl-horizontal dt {
	border-right-color: #ddd;
	color: #fff;
	font-weight: bold;
}
.server-panel-title-hd {
	border-right-color: #505050;
}
.server-panel-title span {
	color: #fff;
}
.server-panel-group {
	border-color: #ddd;
}
.server-panel-group-hd {
	background-color: #eee;
}
.server-panel {
	background-color: #f5f5f5;
}
.server-panel-hd, .server-panel-ft {
	background-color: #d9d9d9;
	color: #444;
}
.server-panel-group .progress {
	background-color: #ddd;
}
/* 任务监控 */
.task-monitoring {
	border-color: #ddd;
}
.task-monitoring-hd {
	background-color: #eee;
}
/* 分页和表格 */
#fanTable .fanTable-arrow {
	background-color: #fafafa;
	border-top-color: #ddd;
	border-bottom-color: #eee;
}
#fanTable .fanTable-arrow:hover {
	background-color: #f5f5f5;
	border-top-color: #e2e2e2;
	border-bottom-color: #f0f0f0;
}
#fanTable .fanTable-arrow:before {
	border-top-color: #999;
}
#fanTable .fanTable-arrow:hover:before {
	border-top-color: #888;
}
#fanTable .fanTable-arrow.up:before {
	border-bottom-color: #999;
}
#fanTable .fanTable-arrow.up:hover:before {
	border-bottom-color: #888;
}
.fan-page {
	background-color: rgba(220,220,220,.6);
}
.fan-page li {
	background-color: #000 \9;
	background-color: rgba(0, 0, 0, 0);
	border: 1px solid #419641;
}
.fan-page .active {
	background-color: #419641;
}
/* 右下角弹出窗 */
.panel.pop-box {
	background-color: #fff;
}
.panel .close {
	color: #555;
}
/* 风机页 */
.fan-image {
	background-color: #f1f1f1;
	border-color: #ddd;
}
/* 集成线路图 */
.xb-list-4 .xb-block-a:nth-child(5):after {
	background-color: #fff;
}
/* 视频监控 */
.video-panel {
	border-color: #ddd;
}
.video-panel-hd {
	background-color: #eee;
}
.time-list {
	border-color: #ddd;
}
.time-list li.active {
	background-color: #3c763d;
}
/* 表格 */
caption {
	color: #143E05;
}
.table-bordered > thead > tr > th, .table-bordered > tbody > tr > th, .table-bordered > tfoot > tr > th, .table-bordered > thead > tr > td, .table-bordered > tbody > tr > td, .table-bordered > tfoot > tr > td {
	border-color: #ddd;
}
.table-bordered {
	border-color: #ddd;
}
.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
	border-top-color: #ddd;
}
.table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
	color: #111;
}
.table-striped > tbody > tr:nth-of-type(odd) {
	background-color: #f9f9f9;
}
.table-green.table-bordered > thead > tr > th, .table-green.table-bordered > tbody > tr > th, .table-green.table-bordered > tfoot > tr > th, .table-green.table-bordered > thead > tr > td, .table-green.table-bordered > tbody > tr > td, .table-green.table-bordered > tfoot > tr > td {
	border-color: #3c763d;
}
.table-green.table > thead > tr > th, .table-green.table > tbody > tr > th, .table-green.table > tfoot > tr > th {
	color: #3c763d;
}
.table-green.table > thead > tr > td, .table-green.table > tbody > tr > td, .table-green.table > tfoot > tr > td {
	color: #3e8f3e;
}
.table-yellow.table > thead > tr > th, .table-yellow.table > tbody > tr > th, .table-yellow.table > tfoot > tr > th, .table-yellow.table > thead > tr > td, .table-yellow.table > tbody > tr > td, .table-yellow.table > tfoot > tr > td {
	border-color: #8a6d3b;
}
.table-yellow.table > thead > tr > th, .table-yellow.table > tbody > tr > th, .table-yellow.table > tfoot > tr > th {
	color: #8a6d3b;
}
.table-yellow.table > thead > tr > td, .table-yellow.table > tbody > tr > td, .table-yellow.table > tfoot > tr > td {
	color: #bb6800;
}
.table-red.table-bordered > thead > tr > th, .table-red.table-bordered > tbody > tr > th, .table-red.table-bordered > tfoot > tr > th, .table-red.table-bordered > thead > tr > td, .table-red.table-bordered > tbody > tr > td, .table-red.table-bordered > tfoot > tr > td {
	border-color: #a94442;
}
.table-red.table > thead > tr > th, .table-red.table > tbody > tr > th, .table-red.table > tfoot > tr > th {
	color: #a94442;
}
.table-red.table > thead > tr > td, .table-red.table > tbody > tr > td, .table-red.table > tfoot > tr > td {
	color: #b92c28;
}
.table-hover > tbody > tr:hover {
	background-color: #f1f9eb;
	color: #333;
}
.table > thead > tr > td.primary, .table > tbody > tr > td.primary, .table > tfoot > tr > td.primary, .table > thead > tr > th.primary, .table > tbody > tr > th.primary, .table > tfoot > tr > th.primary, .table > thead > tr.primary > td, .table > tbody > tr.primary > td, .table > tfoot > tr.primary > td, .table > thead > tr.primary > th, .table > tbody > tr.primary > th, .table > tfoot > tr.primary > th {
	background-color: #67b267;
	color: #fff;
}
.table-hover > tbody > tr > td.primary:hover, .table-hover > tbody > tr > th.primary:hover, .table-hover > tbody > tr.primary:hover > td, .table-hover > tbody > tr:hover > .primary, .table-hover > tbody > tr.primary:hover > th {
	background-color: #5caa5c;
}
.table-sample-icon {
	border-color: #ddd;
}
.table-sample-icon.table-sample-icon-primary {
	background-color: #5caa5c;
}
.table-sample-icon.table-sample-icon-active {
	background-color: #f5f5f5;
}
.table-sample-icon.table-sample-icon-success {
	background-color: #dff0d8;
}
.table-sample-icon.table-sample-icon-info {
	background-color: #d9edf7;
}
.table-sample-icon.table-sample-icon-warning {
	background-color: #fcf8e3;
}
.table-sample-icon.table-sample-icon-danger {
	background-color: #ebcccc;
}
/* 面板 */
.panel {
	background-color: transparent;
}
.panel-default > .panel-heading {
	color: #333;
	background-color: #f1f1f1;
	background-image: none;
 filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff353535', endColorstr='#ff333333', GradientType=0);
	border-color: #ddd;
}
.panel-default {
	border-color: #ddd;
}
.panel-footer {
	border-top-color: #ddd;
}
.list-group-item {
	background-color: transparent;
	border-color: #ddd;
}
a.list-group-item:hover, a.list-group-item:focus {
	color: #111;
	background-color: #f1f9eb;
}
a.list-group-item .list-group-item-heading {
	color: #222;
}
.panel-group .panel-heading + .panel-collapse > .list-group, .panel-group .panel-heading + .panel-collapse > .panel-body {
	border-top: 1px solid #fff;
}
.list-group-item.active, .list-group-item.active:focus, .list-group-item.active:hover {
	background-color: #3c763d;
	border-color: transparent;
	background-image: none;
	text-shadow: none;
 filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff444444', endColorstr='#ff404040', GradientType=0);
}
/* 标签 */
.nav-tabs {
	border-bottom-color: #ddd;
}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
	color: #333;
	background-color: #fff;
	border-color : #ddd;
	border-bottom-color: transparent;
}
.nav > li > a:hover, .nav > li > a:focus {
	background-color: #f9f9f9;
	border-color: #fff #fff #ddd;
}
/* well */
.well {
	background-color: #f1f9eb;
	background-image: none;
	border-color: #ddd;
}
/* 分页 */
.pagination > .active > a, .pagination > .active > a:focus, .pagination > .active > a:hover, .pagination > .active > span, .pagination > .active > span:focus, .pagination > .active > span:hover {
	background-color: #419641;
	border-color: #419641;
}
/* 按钮 */
.btn-primary {
	color: #fff;
	background-color: #5cb85c;
	background-image: none;
	border-color: #4cae4c
}
.btn-primary.focus, .btn-primary:focus {
	color: #fff;
	background-color: #449d44;
	border-color: #255625
}
.btn-primary:hover {
	color: #fff;
	background-color: #449d44;
	border-color: #398439
}
.btn-primary.active, .btn-primary:active, .open>.dropdown-toggle.btn-primary {
	color: #fff;
	background-color: #449d44;
	border-color: #398439
}
.btn-primary.active.focus, .btn-primary.active:focus, .btn-primary.active:hover, .btn-primary:active.focus, .btn-primary:active:focus, .btn-primary:active:hover, .open>.dropdown-toggle.btn-primary.focus, .open>.dropdown-toggle.btn-primary:focus, .open>.dropdown-toggle.btn-primary:hover {
	color: #fff;
	background-color: #398439;
	border-color: #255625
}
.btn-primary.active, .btn-primary:active, .open>.dropdown-toggle.btn-primary {
	background-image: none
}
.btn-primary.disabled, .btn-primary.disabled.active, .btn-primary.disabled.focus, .btn-primary.disabled:active, .btn-primary.disabled:focus, .btn-primary.disabled:hover, .btn-primary[disabled], .btn-primary[disabled].active, .btn-primary[disabled].focus, .btn-primary[disabled]:active, .btn-primary[disabled]:focus, .btn-primary[disabled]:hover, fieldset[disabled] .btn-primary, fieldset[disabled] .btn-primary.active, fieldset[disabled] .btn-primary.focus, fieldset[disabled] .btn-primary:active, fieldset[disabled] .btn-primary:focus, fieldset[disabled] .btn-primary:hover {
	background-color: #5cb85c;
	border-color: #4cae4c
}
.btn-primary .badge {
	color: #5cb85c;
	background-color: #fff
}
.btn-link {
	color: #419641;
}
.btn-link:hover, .btn-link:focus {
	color: #5cb85c;
}
/* 徽章 */
.badge {
	background-color: #419641;
}
/* 404页 */
.bg-404 {
	background-color: #fff;
}
