/********** BOOTSTRAP **********/ 
.container {
	padding-right: 10px;
	padding-left: 10px;
}
.container-fluid {
	padding-right: 10px;
	padding-left: 10px;
}
.row {
	margin-right: -10px;
	margin-left: -10px;
}
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
	padding-right: 10px;
	padding-left: 10px;
}
.nav-tabs+.tab-content {
	margin-top: 15px;
}
/* 面板 */
a.thumbnail:hover, a.thumbnail:focus, a.thumbnail.active {
	border-color: #419641;
}
.list-group-item.active, .list-group-item.active:hover, .list-group-item.active:focus {
	background-color: #258036;
	border-color: #258036;
	background-image: linear-gradient(to bottom, #5cb85c 0, #419641 100%);
 filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5cb85c', endColorstr='#ff419641', GradientType=0);
}
.thumbnail .caption h4 {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
/* 分页 */
.pagination {
	margin: 0 0 15px;
}
.pagination > .active > a, .pagination > .active > a:focus, .pagination > .active > a:hover, .pagination > .active > span, .pagination > .active > span:focus, .pagination > .active > span:hover {
	background-color: #419641;
	border-color: #419641;
}
.pagination > li > a, .pagination > li > span {
	color: #419641;
}
.pagination > li > a:hover, .pagination > li > span:hover, .pagination > li > a:focus, .pagination > li > span:focus {
	color: #258036;
}
/* 表格 */
.table {
	margin-bottom: 12px;
}
.table.table-nobordered th, .table.table-nobordered td {
	border-top: none;
}
/* 警告框 */
.alert {
	margin-bottom: 15px;
}
.alert-xs {
	display: inline-block;
	margin: 0 15px 5px 0;
	padding: 2px 10px 2px 5px;
}
input[type="file"]+.alert-xs {
	margin-top: 5px;
}
.alert-xs.alert-dismissable .close, .alert-xs.alert-dismissible .close {
	right: -5px;
}
.alert h4 {
	margin-bottom: 0;
}
/* 表单 */
.form-group {
	margin-bottom: 12px;
}
.form-horizontal .form-group {
	margin-right: -10px;
	margin-left: -10px;
}
/* media */
.media-heading {
	margin-top: 2px;
	margin-bottom: 10px;
}
.media-heading .label {
	padding: .2em .6em;
}
hr {
	margin-bottom: 12px;
	margin-top: 12px;
}
/********** 全局 **********/
html {
	position: relative;
	min-height: 100%;
}
body {
	margin-bottom: 80px;
	min-height: 100%;
	font-family: "微软雅黑";
}
a {
	color: #666;
	text-decoration: none !important;
}
a:link {
	color: #666;
}
a:visited {
	color: #666;
}
a:hover {
	color: #419641;
}
a:active {
	color: #419641;
}
a.text-success {
	color: #3c763d;
}
.btn-primary, .btn-success, .btn-warning, .btn-info, .btn-danger {
	color: #fff !important;
}
.page-header {
	position: relative;
	border-bottom-color: #eee;
}
.page-header a.more {
	margin-top: 2px;
	font-size: 14px;
	font-weight: normal;
}
h3.page-header a.more {
	margin-top: 7px;
}
h4.page-header a.more {
	margin-top: 2px;
}
.page-header.page-header-green {
	color: #258036;
}
.page-header.page-header-green:after {
	content: "";
	position: absolute;
	left: 0;
	bottom: -1px;
	width: 100px;
	height: 1px;
	background: #258036;
}
.page-header-small {
	padding: 5px 0;
	background-color: #eee;
}
.text-highlight {
	color: #258036;
}
a.more {
	color: #3c763d;
}
a.more:hover {
	color: #2b542c;
}
}
a.more .glyphicon {
	font-size: 0.8em;
}
/********** 首页 **********/
/* 页顶 */
.topbar {
	height: 30px;
	padding: 4px 0 5px;
	background-color: #f5f5f5;
	border-bottom: 1px solid #ddd;
	color: #777;
}
.topbar .topmenu {
	color: #ccc;
}
/* 页头 */
.logo a {
	margin-right: 8px;
}
.logo img {
	float: left;
}
.logo img, .navbar-brand>img {
	max-width: 100%;
}
.logo-name {
	display: block;
	margin-left: 55px;
	color: #333;
	font-family: "华文新魏";
	font-size: 23px;
	line-height: 50px;
}
/*@media (max-width: 359px) {
.logo-wrap .logo>a, .navbar-brand {
	width: 160px;
	padding: 18px 0 0 12px;
}
}
@media (min-width: 360px) and (max-width: 767px) {
.logo-wrap .logo>a, .navbar-brand {
	width: 200px;
	padding: 15px 0 0 12px;
}
}*/
@media (max-width: 767px) {
.header {
	position: relative;
}
/*.logo-wrap {
	position: absolute;
	padding-top: 5px;
	padding-bottom: 5px;
}
.logo-wrap .logo>a {
	visibility: hidden;
}*/
.logo-wrap {
	display: none;
}
}
@media (min-width: 767px) {
.logo-wrap {
	padding-top: 15px;
	padding-bottom: 15px;
}
}
.logo {
	position: relative;
	z-index: 8;
}
.logo .dropdown {
	z-index: 9;
	margin-top: 12px;
}
.navbar-toggle {
	margin-top: 12px;
	margin-bottom: 12px;
}
.navbar-inverse .navbar-toggle {
	border-color: #ddd;
}
.navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus {
	background-color: #ddd;
}
.navbar-inverse .navbar-toggle .icon-bar {
	background-color: #888;
}
.navbar-inverse .navbar-brand {
	margin-top: 4px;
	padding-left: 42px;
	background: url(../images/logo.png) no-repeat 5px 5px;
	background-size: 40px auto;
	color: #333;
	font-size: 16px;
	font-family: "华文新魏";
}
.navbar-inverse .navbar-brand:hover, .navbar-inverse .navbar-brand:focus {
	color: #333;
}
/* 导航 */
.isStuck {
	left: 0;
	width: 100%;
}
.navbar-wrapper {
	/*margin-top: 20px;*/
	position: relative;
	z-index: 15;
}
.navbar-inverse {
	background: #5cb85c;
	border-color: #398439;
	background-image: linear-gradient(to bottom, #5cb85c 0, #419641 100%);
 filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5cb85c', endColorstr='#ff419641', GradientType=0);
	background-repeat: repeat-x;
}
.navbar-inverse .navbar-nav > li > a {
	margin-left: -1px;
	padding-right: 14px;
	padding-left: 14px;
	border-right: 1px solid #429342;
	border-left: 1px solid #429342;
	color: #fff;
	font-size: 1.07em;
}
.navbar-inverse .navbar-nav > li > a:hover {
	z-index: 11;
	background-image: none;
	background-color: rgba(57,132,57,.3);
	border-color: #398439;
}
.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:hover, .navbar-inverse .navbar-nav>.active>a:focus {
	z-index: 21;
	border-color: #3d8d3d;
	background-image: none;
	background-color: rgba(57,132,57,.5);
 filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}
.navbar-inverse a .glyphicon {
	color: #aedcae;
}
.navbar {
	z-index: 7;
	margin-bottom: 0;
}
 @media (max-width: 767px) {
.navbar.navbar-inverse.navbar-static-top {
}
.navbar-header {
	background-color: #fff;
}
}
/* 首页-焦点图 */
.swiper-container {
	width: 100%;
	height: 360px;
}
.swiper-slide {
	text-align: center;
	font-size: 18px;
	background: #fff;
	/* Center slide text vertically */
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
}
.swiper-pagination-fraction, .swiper-pagination-custom, .swiper-container-horizontal > .swiper-pagination-bullets {
	bottom: 30px;
}
.swiper-pagination-bullet-active {
	background: #258036;
}
.swiper-button-prev, .swiper-button-next {
	margin-top: -30px;
	width: 10px;
	height: 10px;
	padding: 20px;
	border-radius: 50%;
	background-size: 30%;
	background-color: rgba(0,0,0,.3);
}
.swiper-button-prev {
	left: 50%;
	margin-left: -575px;
}
.swiper-button-next {
	right: 50%;
	margin-right: -575px;
}
 @media (min-width: 768px) {
.swiper-button-prev {
	margin-left: -365px;
}
.swiper-button-next {
	margin-right: -365px;
}
}
 @media (min-width: 991px) {
.swiper-button-prev {
	margin-left: -475px;
}
.swiper-button-next {
	margin-right: -475px;
}
}
 @media (min-width: 1200px) {
.swiper-button-prev {
	margin-left: -575px;
}
.swiper-button-next {
	margin-right: -575px;
}
}
/* 首页-公告&数据 */
.notice-wrap {
	position: relative;
	z-index: 6;
	height: 40px;
	margin-top: -20px;
	margin-bottom: 10px;
}
.notice {
	border: 1px solid #b8dfb3;
	box-shadow: 0 0 6px rgba(0,0,0,.1);
}
.notice a {
	color: #3c763d;
}
.notice a:hover {
	color: #dd6c11;
}
.notice h4 {
	float: left;
	height: 40px;
	padding: 10px 10px 0 15px;
	margin: 0 10px 0 0;
	border-right: 1px solid #b8dfb3;
}
.notice .more {
	padding-top: 11px;
	padding-right: 15px;
}
ul.notice-list {
	height: 40px;
	overflow: hidden;
	margin-bottom: 0;
	padding: 0;
}
ul.notice-list li {
	height: 40px;
	line-height: 42px;
	list-style: none
}
/* 首页-公告 */
.home-block-wrap {
	padding-top: 30px;
	margin-bottom: 10px;
	background-color: #f5f5f5;
}
.home-block {
	margin-bottom: 10px;
	padding: 15px;
	background-color: #fff;
	border: 1px solid #ddd;
	box-shadow: 0 0 6px rgba(0,0,0,.1);
}
.home-block .page-header {
	margin-top: 10px;
	margin-bottom: 10px;
	font-weight: bolder;
}
.home-block .page-header-green:before {
	content: "";
	position: absolute;
	left: -15px;
	top: -7px;
	width: 3px;
	height: 35px;
	background-color: #5cb85c;
}
.home-block .newslist {
	min-height: 320px;
}
.newslist {
	list-style-type: square;
	margin-bottom: 0;
	padding-left: 0;
	color: #999;
}
.newslist li {
	position: relative;
	list-style: none;
	padding: 6px 0 6px 12px;
	border-bottom: 1px dashed #e8e8e8;
	line-height: 1.8em;
}
.newslist li:after {
	position: absolute;
	left: 0;
	top: 16px;
	width: 0;
	height: 0;
	border: 4px solid transparent;
	border-left: 6px solid #ddd;
	content: "";
}
/* 首页-图片新闻 */
.piclist {
	overflow: hidden;
}
.piclist a {
	position: relative;
	float: left;
	margin: 0 5px;
	padding: 4px;
	border: 1px solid #ddd;
	border-radius: 4px;
	text-align: center;
}
.piclist a:hover {
	border: 1px solid #419641;
}
.piclist img {
	max-width: 100%;
	margin: 0 auto;
}
.piclist-text {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 40px;
	padding: 5px 10px;
	background-color: rgba(0,0,0,.3);
	border: 5px solid transparent;
	color: #ddd;
	font-size: 16px;
	line-height: 18px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.piclist a:hover .piclist-text {
	background-color: rgba(0,0,0,.4);
	color: #fff;
}
@media (min-width: 768px) {
.piclist a {
	width: 164px;
	height: 126px;
	line-height: 110px;
}
.piclist img {
	max-height: 114px;
}
}
@media (min-width: 992px) {
.piclist a {
	width: 219px;
	height: 164px;
	line-height: 145px;
}
.piclist img {
	max-height: 152px;
}
}
@media (min-width: 1200px) {
.piclist a {
	width: 268px;
	height: 204px;
	line-height: 190px;
}
.piclist img {
	max-height: 192px;
}
}
/* 首页-苏州地图 */
.home-map-wrap {
	margin-bottom: 10px;
	padding: 5px 15px;
	background-color: #fef9ea;
	border: 1px solid #fae9ab;
}
ul.home-map-img {
	list-style: none;
	width: 310px;
	height: 320px;
	margin: 0;
	padding: 0;
	position: relative;
	background: url(../images/home-map-img.png) no-repeat 0 0;
}
ul.home-map-img li {
	position: absolute;
}
ul.home-map-img li.zhangjiagang {
	z-index: 102;
	width: 98px;
	height: 73px;
	top: 12px;
	left: 101px;
}
ul.home-map-img li.changshu {
	z-index: 103;
	width: 109px;
	height: 82px;
	top: 56px;
	left: 137px;
}
ul.home-map-img li.xiangcheng {
	z-index: 107;
	width: 85px;
	height: 46px;
	top: 124px;
	left: 110px;
}
ul.home-map-img li.taicang {
	z-index: 101;
	width: 70px;
	height: 86px;
	top: 80px;
	left: 224px;
}
ul.home-map-img li.gusu {
	z-index: 111;
	width: 30px;
	height: 30px;
	top: 165px;
	left: 134px;
}
ul.home-map-img li.gaoxin {
	z-index: 108;
	width: 62px;
	height: 43px;
	top: 155px;
	left: 86px;
}
ul.home-map-img li.kunshan {
	z-index: 104;
	width: 73px;
	height: 104px;
	top: 125px;
	left: 191px;
}
ul.home-map-img li.wujiang {
	z-index: 105;
	width: 111px;
	height: 109px;
	top: 202px;
	left: 100px;
}
ul.home-map-img li.wuzhong {
	z-index: 106;
	width: 145px;
	height: 82px;
	top: 178px;
	left: 65px;
}
ul.home-map-img li.gongyeyuan {
	z-index: 107;
	width: 45px;
	height: 50px;
	top: 151px;
	left: 156px;
}
ul.home-map-img li a {
	display: block;
	outline: none;
	height: 100%;
}
ul.home-map-img li a {
	font-size: 0;
	line-height: 0;
}
ul.home-map-img li a:hover {
	background: url(../images/home-map-img.png) no-repeat 0 0;
}
ul.home-map-img li.zhangjiagang a:hover {
	background-position: -310px -10px;
}
ul.home-map-img li.changshu a:hover {
	background-position: -420px -10px;
}
ul.home-map-img li.xiangcheng a:hover {
	background-position: -310px -160px;
}
ul.home-map-img li.taicang a:hover {
	background-position: -540px -10px;
}
ul.home-map-img li.gusu a:hover {
	background-position: -620px -160px;
}
ul.home-map-img li.gaoxin a:hover {
	background-position: -420px -160px;
}
ul.home-map-img li.kunshan a:hover {
	background-position: -620px -10px;
}
ul.home-map-img li.wujiang a:hover {
	background-position: -700px -10px;
}
ul.home-map-img li.wuzhong a:hover {
	background-position: -700px -160px;
}
ul.home-map-img li.gongyeyuan a:hover {
	background-position: -540px -160px;
}
.home-map-txt>div {
	display: none;
}
.home-map-txt>div:first-child {
	display: block;
}
/* 首页-链接 */
.home-link-wrap {
	background-color: #f5f5f5;
}
.friend-link {
	padding-top: 12px;
	padding-bottom: 12px;
}
.quick-link {
	padding-top: 12px;
	padding-bottom: 8px;
	border-top: 1px solid #ddd;
}
.quick-link a {
	display: inline-block;
	margin-bottom: 5px;
}
/* 首页-页脚 */
.footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 80px;
	padding-top: 15px;
	background-color: #444;
	color: #999;
	font-size: 0.86em;
}
/********** 内页 **********/ 
.main {
	padding-top: 20px;
}
.breadcrumb-wrap+.main {
	padding-top: 0;
}
.breadcrumb-wrap {
	background-color: #f5f5f5;
}
.breadcrumb {
	margin-bottom: 10px;
}
.breadcrumb > li + li:before {
	content: ">";
}
.page-big-title {
	height: 32px;
	margin: 10px 0 20px;
	padding-left: 10px;
	border-left: 5px solid #5cb85c;
	line-height: 30px;
	color: #258036;
	font-weight: 600;
	font-size: 28px;
}
.text-wrap {
	min-height: 370px;
	padding-bottom: 15px;
}
.text-wrap .page-header {
	margin-top: 0;
}
/* 项目公告 */
@media (min-width: 768px) {
#resPanel .panel-heading {
	display: none;
}
}
@media (max-width: 767px) {
#resPanel .panel-body {
	display: none;
}
}
.thumbnail .caption a.text-success {
	color: #3c763d;
}
.thumbnail .caption a.text-muted {
	color: #666;
}
.project-notice .thumbnail {
	min-height: 387px;
}
@media (min-width: 768px) {
.project-notice .thumbnail {
	min-height: 333px;
}
}
@media (min-width: 992px) {
.project-notice .thumbnail {
	min-height: 328px;
}
}
@media (min-width: 1200px) {
.project-notice .thumbnail {
	min-height: 368px;
}
}
.thumbnail-img {
	height: 220px;
	background-color: #eee;
	line-height: 218px;
	text-align: center;
}
.thumbnail-img img {
	max-width: 100%;
	max-height: 100%;
}
@media (min-width: 768px) {
.thumbnail-img {
	height: 165px;
	line-height: 162px;
}
}
@media (min-width: 992px) {
.thumbnail-img {
	height: 159px;
	line-height: 156px;
}
}
@media (min-width: 1200px) {
.thumbnail-img {
	height: 197px;
	line-height: 194px;
}
}
/* 用户中心-项目详情 */
.media-left img+.table {
	margin-top: 12px;
	margin-bottom: 0;
}
.media-body .success th {
	vertical-align: middle;
}
.media-body th h3 {
	margin: 5px 0;
}
/* 新闻中心 */
.media-news .media-heading {
	overflow: hidden;
	height: 20px;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.media-news .media-news-text {
	overflow: hidden;
	height: 60px;
	text-overflow: ellipsis;
}
.number {
	margin-top: 5px;
	margin-bottom: 15px;
	text-align: right;
	font-size: 14px;
	font-weight: bold;
}
.number a {
	font-family: "宋体";
}
/* 我的项目-详情 */
.btn-bid {
	padding: 1em 0;
}
/* 模态框 */
.modal-body .page-header.page-header-green {
	margin-top: 15px;
}
